{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Here are your Brandeis Friends</h1>
  <p class="text-warning">
    Look over the profiles and see if you can find a soulmate!
    Click on the "connect" button to send a Brandeis friender notification.
  </p>
</div>
<h2> Here we should have the list of people you have accepted as friends, with their emails</h2>
fjdklsjfdls

<h2> Here should be the outstanding requests</h2>

<div class="text-left">
  <h2>This should be just the profiles of people
    who want to meet you </h2>
  {% for survey in surveys %}
    <div class="bg-info">
      <form method="POST" action="/requestConnection">
         <h2>Potential Friend number {{survey.id}}</h2>
         <ul>
           <li><b>BirthPlace</b> {{survey.birthplace}}</li>
           <li><b>Interests</b> {{survey.birthplace}}</li>
           <li><b>Year in School</b> {{survey.year}}</li>
           <li><b>Favorite TV show</b>
             {{survey.TVshow}}</li>
           <li><b>Favorite Type of Music</b>
             {{survey.music}}</li>
           <li><b>Magical Power</b>
             {{survey.magicalpower}}</li>
           <li><b>Favorite Food</b>
             {{survey.favoritefood}}</li>
           <li><b>Favorite Holiday</b>
             {{survey.favoriteholiday}}</li>
           <li><b>BirthPlace</b> {{survey.birthplace}}</li>


         </ul>
         <input type="hidden" name="surveyNumber" value="{{survey.id}}">
         <input class="btn btn-lg btn-danger" type="submit" value="I'd like to meet you!">
       </form>
    </div>
    <hr>
    {% endfor %}

</div>

{% endblock %}
