{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Brandeis Friender!!</h1>
  <p class="text-warning">
    Let's make life-time friends!!!:)
  </p>
</div>
<div class="text-center">
  <h1>Brandeis Friender was established to make sure every Brandeis scholar
has their own support group that they can relate to.</h1>

  <hr>
  <img class = "img-circle"
       src="https://pbs.twimg.com/media/ByOu5y_CQAAlNb8.jpg"
       alt="Tim Hickey from Apr 2008">
</div>

{% endblock %}
