{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Elevator Pitch and Brand Promise!</h1>
  <p class="text-warning">
    After the first several weeks living in Brandeis, we realized that almost
    every first year student has trouble making friends. To make it easier and
    a smoother transition to our great commmunity, we thought of an app to meet
    people with the same intrests. Through this app you are able to meet new
    people within the Brandeis campus and create relationships that you would
    probably wouldn't have made.
    We promise at Brandeis Univeristy to create unity within the campus!
  </p>
</div>
<div class="text-center">
  Add pictures and mini bios of everyone in your team to this page.

</div>

{% endblock %}
