{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Survey</h1>
</div>
<div class="text-center">
Here is where we learn how to create HTML elements....
<ul>
  <li>Where were you born?</li>
  <li>What are your interests?</li>
  <li>Are you a Freshmen, Sophmore, Junior or Senior?</li>
  <li>What TV shows did you use to watch as a kid?</li>
  <li>What kind of music do you listen to?</li>
  <li>If you could have any magical power, what would it be?</li>
  <li>Tell us what do you like to eat! Favorite food!</li>
  <li>Do you have favorite holiday(s)? Which one(s)?</li>
  
<ul>
<button class="btn btn-lg btn-primary">
  Register as a seller
</button>

<hr>
Your age: <input type="text" width="40" name="age"> <br>
Your Bio:
<textarea name="bio"></textarea>
<br>
How long is the wait?
<select name="waittime">
  <option>no line</option>
  <option>under 5 mintues </option>
  <option> 5-10 mintues</option>
  <option>more than 10 mintues</option>
</select>
<br>
<input type="submit">
{% endblock %}
