{% extends "base.html" %}
{% block content %}

<h1 class="bg-primary">Friender Teams' short bio!!</h1>
<p>CEO</p>
</p>Arnell Reid: I was born in Bronx, New York with my twin sister and mother.
My major is computer science in animation and game development. Also, minor in Korean language
and culture.</p>
<p>Marketing and Manager</p>
</p>Jasmine Miranda: I was born in Boston, Massachusetts with two sisters and parents.
I'm still undecided in my major.</p>
<p>Chief Technical Officer</p>
</p>Dario Alves: I was born in Praia, Santiago in Cape Verde. I came to the USA on July 15, 2015.
I have lived in Boston for the past 2 years. My majors are Political Science and Business, and
a minor on Internacial Relations/Affairs!</p>
<img src = "https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/d/d9/My-best-friends-quote-message.jpg/revision/latest?cb=20160720015942" width="200">
<p>
<a href="">my homepage</a>
</p>


<div class="jumbotron">
  <h1>Team Members</h1>
  <p class="text-warning">
    Meet our great team!
   <br>
    <a href="Arnell Reid" class="btn btn-lg btn-info">CEO: Arnell Reid</a>
     <img class = "img-circle" width="300" src = "https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/22885763_1179585615508209_2200404413816013866_n.jpg?oh=d4737af1aaccf22d564b108223d69c32&oe=5A9633BE" width="300"><br>
   <br>
   <a href="Jasmine Miranda" class="btn btn-lg btn-info">Marketing and Manager: Jasmine Miranda</a>
    <img class = "img-circle" width="300" src ="https://pbs.twimg.com/profile_images/927648034325979136/i9cv7-9m_400x400.jpg" width="300">
  <br>
  <br>
  <a href="Arnell Reid" class="btn btn-lg btn-info">Chief Technical Officer: Dario Alves</a>
   <img class = "img-circle" width="300" src = "https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/18581948_1371682292923785_8050135245334870029_n.jpg?oh=365bee0c796adfdf7dec6f4e19d4abee&oe=5AA8FEE1" width="300">
 <br>
  </p>
</div>
<div class="text-center">
  Add pictures and mini bios of everyone in your team to this page.

</div>

{% endblock %}
